<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <div class="jumbotron">
        <h1>NewsWave</h1>
        <p>A homepage to call your own</p>
    </div>
    {% if user_id != "" %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li class="active"><a href="/settings">Settings</a></li>
                    <li class="active"><a href="/reading_list">Reading List</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>
        </nav>
    {% endif %}
    <body>
        {% block content %} {% endblock content %}
    </body>
</html>