{% extends "base.html" %}
{% block content %}
    {% if locations %}
        {% for location in locations %}
            <div class="location"></div>
        {% endfor %}
    {% endif %}
    {% if outlets %}
        {% for outlet in outlets %}
            <div class="outlet" id = "{{outlet.outlet_id}}">
                <h2>{{outlet.outlet_name}}</h2>
                {% for story in outlet.stories %}
                    <a href="{{story.url}}">{{story.title}}</a>
                    <img src="{{story.urlToImage}}"/>
                    <p>{{story.description}}</p>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
    {% if notes %}
        {% for notes in notes %}
            <div class="note"></div>
        {% endfor %}
    {% endif %}
{% endblock content %}