{% extends "base.html" %}
{% block content %}
<style>
    .stories{
        margin-left:auto;
        margin-right:auto;
        overflow-x: scroll;
        max-width:80%;
        max-height:300px;
        display:flex;
        flex-direction: row;
    }
    .story{
        display:inline-block;
        max-width:400px;
        border: 2px solid black;
        vertical-align: top;
    }
    .story img{
        max-width:380px;
        max-height:380px;
    }
</style>
{% for outlet in outlets %}
        <script>
            $(document).ready(function(){
                $.ajax({
                    url: "https://newsapi.org/v1/articles?source={{outlet.sourceId}}&apiKey=4d48612e30ef4e4f8a55c0d6e6f984ef",
                    method: "GET"
                })
                .done(function(source){
                    var stories = source.articles;
                    var parentNode = $("#{{outlet.sourceId}} .stories");
                    var len = stories.length;
                    if(len > 10){
                        len = 10;
                    }
                    for(var i = 0; i < len; i++){
                        var story = stories[i];
                        var titleString = "<a href='" + story.url + "'>" + story.title + "</a><br />";
                        var imgString = "<img src='" + story.urlToImage + "'/><br />";
                        var descString = "<p>" + story.description + "</p>";
                        var formString = "<form action='/add_story' method='post' class='storyForm'>{% csrf_token %}<input type='hidden' name='url' value='" + story.url + "'/><input type='hidden' name='title' value='" + story.title + "'/><input type='submit' class='story_submit' value='Add to reading list'></form>";
                        parentNode.append("<div class='story'>" + titleString + imgString + descString + formString + "</div>");
                    }
                });
            });
        </script>
    {% endfor %}
    <script>
        $(document).ready(function(){
            console.log('this happend')    
            $(".story_submit").on('click', function(e){
                console.log('that happend')
                e.preventDefault();
                console.log('this other thing happend')
                $.ajax({
                    url: $(this).parent().attr('action'),
                    method: 'post',
                    data: $(this).parent().serialize(),
                    error: function(serverResponse){
                        alert('fail')
                    },
                    complete: function(serverResponse){
                        alert('complete')
                    },
                    success: function(serverResponse){
                            alert('Story Added')
                    }
                });
            });
        });
    </script>
    {% if locations %}
        {% for location in locations %}
            <div class="location"></div>
        {% endfor %}
    {% endif %}
    {% if outlets %}
        {% for outlet in outlets %}
            <div class="outlet" id = "{{outlet.sourceId}}">
                <h2>{{outlet.sourceName}}</h2>
                <div class="stories"></div>
            </div>
        {% endfor %}
    {% endif %}
    {% if notes %}
        {% for notes in notes %}
            <div class="note"></div>
        {% endfor %}
    {% endif %}
{% endblock content %}