{% extends "base.html" %}
{% block content %}
<style>
    .stories{
        margin-left:auto;
        margin-right:auto;
        overflow-x: scroll;
        max-height:600px;
        max-width:95%;
        display:flex;
        flex-direction: row;
        background-color:white;
        margin-bottom:10px;
    }
    .story{
        display:inline-block;
        max-width:500px;
        max-height: 5000px;
        border: 4px solid teal;
        vertical-align: top;
        padding:10px;
        margin-left:5px;
        margin-right:5px;
    }
    .story img{
        max-width:380px;
        height:200px;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    .story p{
        padding: 10px;
    }
    h2{
        display: block;
        background-color: #34282C;
        color:yellow;
        border:3px solid black;
        padding-left:10px;
        padding-top:15px;
        padding-bottom:15px;
        margin-left:2.5%;
        margin-right:2.5%;
    }
    .title{
        height:60px;
        font-size:18px;
        text-align:center;
        text-decoration: underline;
        display: block;
        padding-bottom: 10px;
        max-width:90%;
    }
</style>
<script>
    // fix the quote problem: replace quotes with some delimiter. For reading list, find-replace
$(document).ready(function(){
    var outlets = $(".outlet");
    // part 1: populate outlet rows with articles
    for(let i = 0; i < outlets.length; i++){
        var sourceId = outlets[i].id;
        
        (function(sourceId){
            $.ajax({
                url: "https://newsapi.org/v1/articles?source=" + sourceId + "&apiKey=4d48612e30ef4e4f8a55c0d6e6f984ef",
                method: "GET"
            })
            .done(function(source){
                var stories = source.articles;
                var parentNode = $("#" + sourceId + " .stories");
                var len = stories.length;
                if(len > 10){
                    len = 10;
                }
                for(let j = 0; j < len; j++){
                    var story = stories[j];
                    console.log(story.title);
                    console.log(story.title.replace(/["']/g, "&quot;"));
                    var titleString = "<a class='title' href='" + story.url + "' target='_blank'>" + story.title + "</a><br />";
                    var imgString = "<img src='" + story.urlToImage + "'/><br />";
                    var descString = "<p>" + story.description + "</p>";
                    var formString = "<form action='/add_story' method='post' class='storyForm'>{% csrf_token %}<input type='hidden' name='url' value='" + story.url + "'/><input type='hidden' name='title' value='" + story.title.replace(/["]/g, "&quot;").replace(/[']/g, "&apos;") + "'/><input type='submit' class='story_submit' value='Add to reading list'></form>";
                    parentNode.append("<div class='story'>" + titleString + imgString + formString + descString + "</div>");
                }           
            });
        }(sourceId));
    }

    // part 2: add stories to reading list
    $(document).on('submit', '.storyForm', function(e){
        e.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            method: 'post',
            data: $(this).serialize()
        });
        $(this).hide();
    });
});
</script>

    {% if locations %}
        {% for location in locations %}
            <div class="location"></div>
        {% endfor %}
    {% endif %}
    {% if outlets %}
        {% for outlet in outlets %}
            <div class="outlet" id="{{outlet.sourceId}}">
                <h2>{{outlet.sourceName}}</h2>
                <div class="stories"></div>
            </div>
        {% endfor %}
    {% endif %}
    {% if notes %}
        {% for notes in notes %}
            <div class="note"></div>
        {% endfor %}
    {% endif %}
{% endblock content %}