{% extends "base.html" %}
{% block content %}
<style>
    table{
        border-collapse:collapse;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 10px;
    }
    thead td{
        color:yellow;
        font-family: 'Germania One', cursive;
    }
    tr, td{
        border: 4px solid teal;
    }
    td{
        padding:10px;
    }
    thead tr{
        background-color: gray;
    }
    tbody tr:nth-child(even){
        background-color:lightgray;
    }
    #readingList{
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }
</style>
<script>
    function OrderBy(a,b,n){
        if (n) return a-b;
        if (a < b) return -1;
        if (a > b) return 1;
        return 0;
    }

    $(document).ready(function(){
        $("table").on("submit", ".deleteForm", function(e){
            e.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                method: 'post',
                data: $(this).serialize()
            });
            $(this).parent().parent().hide();
        });
    });
</script>

<div id="readingList">
    <h2>Reading List</h2>
    <table>
        <thead>
            <tr>
                <td>Story</td>
                <td class="date">Added</td>
                <td>Delete?</td>
            </tr>
        </thead>
        <tbody>
            {% for story in stories %}
                <tr>
                    <td>
                        <a class="story_name" href="{{story.story_url}}" target="_blank">{{story.story_name}}</a>
                    </td>
                    <td>
                        <span class="date">{{story.created_at}}</span>
                    </td>
                    <td>
                        <form action="/delete_story" method="post" class="deleteForm">
                            {% csrf_token %}
                            <input type="hidden" name="story_id" value="{{story.id}}"/>
                            <input type="submit" value="Delete"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}