{% extends "base.html" %}
{% block content %}
    <script>
        $(document).ready(function(){
            $.ajax({
                url: "https://newsapi.org/v1/sources?language=en",
                method: "GET"
            })
            .done(function(sources){
                sources = sources.sources;
                for(var i = 0; i < 5; i++){
                    $("#outlet_box").append("<label>Source " + (i+1) + ": </label>");
                    var selectNode = $("<select name='outlet" + i + "'></select>");
                    for(var j = 0; j < sources.length; j++){
                        source = sources[j];
                        var optionStr = "<option value='" + source.id + "," + source.name + "'>" + source.name + "</option>"; // stores two pieces of info in one field, comma-separated
                        selectNode.append(optionStr);
                    }
                    $("#outlet_box").append(selectNode).append("<br/>");
                }
            });
        });
    </script>
    <form action="/settings" method="POST">
        {% csrf_token %}
        <legend>Pick 5 favorite news outlets:</legend>
        <div id="outlet_box"></div>
        </div>
        <input type="submit" value="Configure"/>
    </form>
{% endblock %}