{% extends "base.html" %}
{% block content %}
<!-- A work in progress... to allow any number of sources -->
    <style>
        form{
            margin-left:auto;
            margin-right:auto;
            text-align:center;
        }
        select{
            color:white;
            background-color:#34282C
        }
        input{
            margin-top:10px !important;
        }
    </style>
    <script>
        $(document).ready(function(){
            $.ajax({
                url: "https://newsapi.org/v1/sources?language={{request.session.language}}",
                method: "GET"
            })
            .done(function(sources){
                sources = sources.sources;
                optionStr = "";
                for(var i = 0; i < sources.length; i++){
                    source = sources[i];
                    optionStr += "<option value='" + source.id + "," + source.name + "'>" + source.name + "</option>"; // stores two pieces of info in one field, comma-separated
                }
                for(var i = 1; i <= 5; i++){
                    var selectNode = $("select[name='outlet" + i + "']");
                    selectNode.append(optionStr);
                    // now, delete redundant option
                    var options = selectNode.children();
                    var deleteIfVal = options[0].value;
                    for(var j = 1; j < options.length; j++){
                        if(options[j].value == deleteIfVal){
                            options[j].remove()
                            break;
                        }
                    }
                }
                extractSourceIds();
            });

            
            $("form[action='settings']").submit(function(e){
                e.preventDefault();
                $.ajax({
                    url: $(this).attr('action'),
                    method: 'post',
                    data: extractSourceIds()
                });
            });

            function extractSourceIds(){
                var selectedOptions = $("#outlet_box :selected");
                var values = [];
                for(var i = 0; i < selectedOptions.length; i++){
                    values.push(selectedOptions[i].value);
                }
                return {"sources": values}
            }
        });
    </script>
    <form action="/settings" method="POST">
        {% csrf_token %}
        <legend>Pick your favorite news outlets:</legend>
        <div id="outlet_box">
                {% for outlet in outlets %}
                    <label>Source: </label>
                    <select>
                        <option value='{{outlet.sourceId}},{{outlet.sourceName}}' selected>{{outlet.sourceName}}</option>
                    </select>
                {% endfor %}
        </div>
        <br />
        <input type="submit" value="Save Sources"/>
    </form>
    <form action="/language" method="POST">
        {% csrf_token %}
        <legend>Source Language:</legend>
        <input type="radio" name="language" value="en"> English<br>
        <input type="radio" name="language" value="de"> Deutsch<br>
        <input type="submit" value="Change">
    </form>
{% endblock %}